.wordList {
    width: 200px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wordItem {
    position: relative;
    cursor: pointer;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    border-radius: 8px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;

}

.favoriteIcon {
    display: none;
    cursor: pointer;
}

.wordItem:hover .favoriteIcon {
    display: inline;
}

.current {
    /*background-color: var(--highlight-color);*/
    /*color: #fff;*/
    border: 1px solid;

    border-color: var(--highlight-color);
    color: var(--highlight-color);

}

.wordItem.correct {
    background-color: var(--success-color); /* Green for correct answers */
    color: #fff;
}

.wordItem.incorrect {
    background-color: var(--error-color); /* Red for incorrect answers */
    color: #fff;
}

