.wordList {
    width: 200px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wordItem {
    position: relative;
    cursor: pointer;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    border-radius: 8px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;

    border: 1px solid transparent;
}

.favoriteIcon {
    display: none;
    cursor: pointer;
}

.wordItem:hover .actionIcon {
    display: inline;
    border-color: var(--highlight-color);
}

.current {
    /*background-color: var(--highlight-color);*/
    /*color: #fff;*/
    border: 1px solid;

    border-color: var(--highlight-color);
    color: var(--highlight-color);

}

.wordItem.correct {
    background-color: var(--success-color); /* Green for correct answers */
    color: #fff;
}

.wordItem.incorrect {
    background-color: var(--error-color); /* Red for incorrect answers */
    color: #fff;
}

.actions {
    display: flex;
    gap: 15px; /* Adjust the space between icons as needed */
}

.actionIcon {
    display: none;
    cursor: pointer;
}

.addNewWord {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px 5px 15px; /* Adjust as needed */
    border-radius: 8px;
    background-color: #1a1a1a;
    cursor: pointer;
    color: var(--highlight-color);
}

/* Ensure action icons don't appear on the 'Add new word' element */
.addNewWord .actions {
    display: none;
}

/* Adjust .actions hover to not apply to .addNewWord */
.wordItem:not(.addNewWord):hover .actionIcon {
    display: inline;
}

.wordItem:hover {
    border-color: var(--highlight-color);
}
